<div class="card bg-slate-600 gauge shadow-lg rounded-xl p-4 flex flex-col items-start transition-all duration-300 hover:scale-105">
  <div echarts [options]="option" class="chart"></div>
    <button
  class="mt-3 px-3 py-1 rounded-lg bg-indigo-500 text-white text-sm hover:bg-indigo-600 disabled:opacity-50 disabled:cursor-not-allowed inline-flex items-center gap-2"
  (click)="onPingClick()"
  [disabled]="service.busy"
  title="Medir latencia"
>
  @if (!service.busy) {
    Ping
  } @else {
    <svg class="animate-spin h-4 w-4" viewBox="0 0 24 24" fill="none">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
    </svg>
    Ping...
  }
</button>

<!-- @if (service.busy) {
  <div class="absolute inset-0 rounded-xl bg-black/30 backdrop-blur-[1px] flex items-center justify-center">
    <div class="flex items-center gap-2 text-white text-sm">
      <svg class="animate-spin h-5 w-5" viewBox="0 0 24 24" fill="none">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor"
              d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
      </svg>
      Midiendo latencia…
    </div>
  </div>
} -->
</div>